services:
  workspace:
    build:
      context: .
      target: base
    volumes:
      - .:/app
      - /app/node_modules # Anonymous volume to protect container node_modules
    environment:
      - NX_REJECT_UNKNOWN_LOCAL_CACHE=0
    # Command to keep the container alive for development
    command: tail -f /dev/null

  matmatrix-graph:
    build:
      context: .
      target: base
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "4211:4211"
    environment:
      - NX_HOST=0.0.0.0
    command: npx nx graph --host 0.0.0.0 --port 4211

  matmatrix-core:
    build:
      context: .
      target: base
    volumes:
      - .:/app
      - /app/node_modules
    command: npx nx test matmatrix-core --watch